* {
    font-family: 'Lato', sans-serif;
    color: #1f1f1f;
}

.main-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
}
/* NAVBAR STYLES */
.navbar {
    height: 8vh;
    background-color: #fcfcf9;
    box-shadow: 0 0 10px 3px rgb(238, 236, 236);
}
.small-icon {
    height: 5vh;
    width: 5vh;
}
.titleText {
    font-family: 'PT Sans', sans-serif;
}
.logoText {
    font-family: 'Courgette', cursive;
    font-size: 2.6vh;
}

/* FOOTER STYLES */
.foot {
    bottom: 0;
    width: 100vw;
    position: fixed;
    height: 10vh;
    background-color: #fcfcf9;
    box-shadow: 0 0 10px 3px rgb(235, 233, 233);
}