* {
    font-family: 'Lato', sans-serif;
    color: #1f1f1f;
}

.mainWrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    overflow: scroll;
}
/* NAVBAR STYLES */
.navbar {
    position: fixed;
    width: 100vw;
    height: 8vh;
    background-color: #fcfcf9;
    text-align: center;
    z-index: 100;

    box-shadow: 0 0 15px 3px rgba(0,0,0,0.3);
}
.smallIcon {
    height: 5vh;
    width: 5vh;
}
.logoText {
    font-family: 'Courgette', cursive;
    font-size: 2.6vh;
}
.breadcrumb {
    margin-top: 8vh;
    width: 100vw;
    height: 6vh;
    background-color:  #f6f6f5;
    box-shadow: 0 0 15px 1px rgb(224, 222, 222);
    z-index: 99;
}
.breadcrumbText{
    display: inline-block;
    margin: 1.5vh 1.5vh 1.5vh 1.5vh;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5vh;
}

/* FOOTER STYLES */
.foot {
    bottom: 0;
    width: 100vw;
    position: fixed;
    height: 9vh;
    background-color: #fcfcf9;
    box-shadow: 0 0 12px 2px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 100;
}

.inputBar {
    display: inline-block;
    width: 77vw;
    height: 3vh;
    padding: 1vw 2vw;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: width 0.3s ease-in;
    margin-bottom: 10px;    
    margin-right: 3vw;
    margin-left: 4vw;
  }

.inputBar:focus {
  width: 65vw;
}

.inputBar:focus +.sendButton{
  width: 20vw;
  font-size: 1rem;
  padding: 1vw 2vw;
  height: 4.5vh;
  background-color: #007bff;
}
  .sendButton {
    display: inline-block;
    width: 8vw;
    height: 4.5vh;
    color: #212529;
    text-align: center;
    background-color: #c4c4c4;
    vertical-align: middle;
    padding: 0;
    font-size: 0rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: width 0.3s ease-in, height 0.3s ease-in, font-size 0.3s ease-in, padding 0.3s ease-in, background-color 0.3s ease-in;
    border-width: 0;
    margin-top: -.5vh;
  }

  /* PAGE STYLES */
  .contentWrapper {
      margin-top: 11vh;
      margin-bottom: 10vh;
      display: block;
  }

  .smallerIcon {
    height: 3vh;
    width: 3vh;
  }
